{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Welcome To The Jordan Store!</h1>
  <h2>-The online Jordan outlet for sneakerheads-</h2>


  <p>Please submit a request for a pair of authentic Jordans!</p>
  <l1>This website is dedicated to delivering sneakers around the world at a price lower than the rest
  <l2>Simply enter the name, size, and colorway of the sneaker you want in our request section with your name and address and we will let you know immediately if it is in stock. If in stock simply purchase through paypal, if not in stock we will notify the second we receive it.</l2>

</div>
{% endblock %}